<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Nossos Produtos</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Nossos Produtos</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<%=partial "portfolio"%>

<div id="get-it">
    <div class="container encomenda">
        <div class="col-md-8 col-sm-12">
            <h3>Faça sua encomenda</h3>
        </div>
        <div class="col-md-4 col-sm-12">

            <h4><i class="fa fa-whatsapp" aria-hidden="true"></i> 41 996937334 </h3>
            <h5><i class="fa fa-envelope" aria-hidden="true"></i> contato@sweetjoy.com.br </h3>

        </div>
    </div>
</div>
<!-- /.bar -->


