<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row showcase">
            <div class="col-md-4">
                <div class="item">
                    <div class="icon"><i class="fa fa-certificate"></i>
                    </div>
                    <h4><span class="counter">252333</span><br>

Brigadeiros</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon"><i class="fa fa-birthday-cake"></i>
                    </div>
                    <h4><span class="counter">458</span><br>

Bolos</h4>
                </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon"><i class="fa fa-graduation-cap"></i>
                    </div>
                    <h4><span class="counter">2</span><br>

Cursos</h4>
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="item">
                    <div class="icon"><i class="fa fa-smile-o"></i>
                    </div>
                    <h4><span class="counter">355</span><br>

Clientes Satisfeitos</h4>
                </div>
            </div>
        </div>
        <!-- /.row -->
  </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
