<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Sobre mim</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Sobre nós</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <section>
            <div class="row">
                <div class="col-md-12">

                    <div class="heading">
                        <h2>Joy Alves</h2>
                    </div>
                    <div class="row joicy">
                      <div class="col-sm-3">
                        <%= thumb_tag 'joicy.jpg', "500x500#", class:"img-responsive img-circle" %>
                      </div>
                      <div class="col-sm-9">
                        <p class="lead">A Sweet Joy foi fundada em 2012, sob direção da Chef Joy Alves, com uma loja especializada em brigadeiros localizada no Shopping Crystal.</br>
Na edição 2014 da Veja Comer e Beber, vencemos a categoria de melhor brigadeiro da cidade.
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="panel-group accordion" id="accordionThree">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3a">

                                            Entrega

                                        </a>

                                    </h4>
                            </div>
                            <div id="collapse3a" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="fa fa-truck fa-5x img-responsive" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <p>Fazemos entregas para toda a região de Curitiba. Nossa taxa é R$15, mas não a cobramos para encomendas acima de R$300.</p>
                                            <p>Se preferir fazer a retirada, nós atendemos com agendamento na Rua Deputado Heitor Alencar Furtado, 2600.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3b">

                                            Satisfação Garantida

                                        </a>

                                    </h4>
                            </div>
                            <div id="collapse3b" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="fa fa-smile-o fa-5x img-responsive" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <p>Durante nossos cinco anos de atividade temos orgulho de termos feitos centenas de encomendas e sempre obtivemos um retorno positivo em relação a satisfação de nossos clientes.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3c">

                                            Personalização

                                        </a>

                                    </h4>
                            </div>
                            <div id="collapse3c" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Se não encontrou o que procura em nosso site, envie-nos um email, que teremos prazer em lhe ajudar.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="video">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e0HKFx7zJKw"></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-4">
                    <div class="heading">
                        <h2>Nossas realizações</h2>
                    </div>
                      <ul class="ul-icons">
                        <li><i class="fa fa-check"></i>Eleito o melhor brigadeiro de Curitiba pela Revista Veja.</li>
                        <li><i class="fa fa-check"></i>Cinco anos de experiência na fabricação de bolos e doces.</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="heading">
                        <h2>Nossos Produtos</h2>
                    </div>
                    <ul class="ul-icons">
                        <li><i class="fa fa-check"></i>Bolos</li>
                        <li><i class="fa fa-check"></i>Brigadeiros</li>
                        <li><i class="fa fa-check"></i>Lembrancinhas para Festas</li>
                        <li><i class="fa fa-check"></i>Cursos de Confeitaria</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="heading">
                        <h2>Nossos Valores</h2>
                    </div>

                    <ul class="ul-icons">
                        <li><i class="fa fa-check"></i>Utilizamos os melhores produtos no mercado.</li>
                        <li><i class="fa fa-check"></i>Comprometimento com a satisfação do cliente.</li>
                        <li><i class="fa fa-check"></i>Garantia de qualidade</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
    <!-- /#contact.container -->

    <%= partial "contador" %>

</div>
<!-- /#content -->

